compose.override.yaml
.DS_Store
build/
.cache/
.ccls-cache/
inputs/*
!inputs/.gitkeep
outputs/
tests/**/fortran/*
!tests/**/fortran/*.f90
!tests/**/fortran/*.txt
!tests/**/fortran/*.scr
tmp/
compile_commands.json
**/*.exe
